@use 'sass:color';
@use 'mixins';
@use 'variables';

$rootSpacing: 16px;
$containerBreakpoint: map-get(map-get(variables.$breakpoints, large), min);

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: $rootSpacing;
    margin: 0;
}

a {
    color: color.adjust(variables.$color, $lightness: -40%);
    font-weight: bold;
    outline: none;

    &:focus, &:hover {
        color: color.adjust(variables.$color, $lightness: -45%);
    }

    &:visited {
        color: color.adjust(variables.$color, $lightness: -50%);
    }
}

dl, ol, ul {
    padding: 0 variables.$spacing * 3;
    margin: variables.$spacing 0;
}

dl {
    dd {
        margin: 0 0 0 variables.$spacing * 2;
    }
}

input, select, textarea {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: variables.$borderRadius;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    padding: 0 variables.$spacing * 2;
    width: 100%;

    &:focus {
        box-shadow: 0 0 0 1px variables.$color;
    }
}

input, select {
    height: variables.$spacing * 5;
}

input {
    &[type='file'] {
        padding: 0.42em variables.$spacing * 2;
    }
}

button {
    background-color: #DDDDDD;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: variables.$borderRadius;
    font-size: 1em;
    height: variables.$spacing * 5;
    outline: none;
    overflow: hidden;
    padding: 0 variables.$spacing * 4;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
        box-shadow: 0 0 0 1px variables.$color;
    }

    &:hover {
        background-color: #EEEEEE;
    }
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;

    tbody {
        tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            &:last-child{
                border-bottom: none;
            }
        }
    }

    td, th {
        padding: variables.$spacing;
    }

    thead {
        border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    }
}

.banner {
    height: 100vh;
}

.container {
    padding: variables.$spacing;
}

@include mixins.media-query($containerBreakpoint) {
    .container {
        margin: auto;
        width: $containerBreakpoint - $rootSpacing * 2;
    }
}
