@use 'mixins';
@use 'variables';

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 variables.$spacing * -2;
    padding: variables.$spacing;

    [class^='col'] {
        padding: variables.$spacing;
        width: 100%;
    }
}

@each $name, $breakpoint in variables.$breakpoints {
    @include mixins.media-query(map-get($breakpoint, min)) {
        @for $i from 0 through variables.$columns {
            $width: 100% / variables.$columns * if($i == 0, variables.$columns, $i);

            @include mixins.selector(col, map-get($breakpoint, alias), $i, false) {
                flex: if($i == 0, 1, $width);
                max-width: $width;
            }
        }
    }
}
