@use './variables';

$utils: (
    align-content: (
        alias: 'algn-content',
        values: (baseline, center, end, flex-end, flex-start, inherit, initial,
        normal, space-around, space-evenly, space-between, start, stretch, unset)
    ),
    align-items: (
        alias: 'algn-items',
        values: (baseline, center, end, flex-end, flex-start, inherit, initial,
        normal, start, stretch)
    ),
    display: (
        alias: 'd',
        values: (block, flex, grid, inherit, inline, inline-block, inline-flex, 
        inline-grid, inline-table, list-item, none, run-in, table, table-cell, 
        table-column, table-column-group, table-footer-group, table-header-group,
        table-row, table-row-group)
    ),
    flex-direction: (
        alias: 'flex',
        values: (inherit, initial, column, column-reverse, row, row-reverse, unset)
    ),
    float: (
        alias: 'float',
        values: (inherit, initial, inline-start, inline-end, left, none, right, unset)
    ),
    justify-content: (
        alias: 'just-content',
        values: (center, end, flex-end, flex-start, inherit, initial, left, normal,
        right, space-around, space-evenly, space-between, start, stretch)
    ),
    justify-items: (
        alias: 'just-items',
        values: (auto, baseline, center, end, flex-end, flex-start, inherit, initial,
        left, normal, right, self-end, self-start, start, stretch, unset)
    ),
    margin: (
        alias: 'm',
        values: 5
    ),
    margin-bottom: (
        alias: 'mb',
        values: 5
    ),
    margin-left: (
        alias: 'ml',
        values: 5
    ),
    margin-right: (
        alias: 'mr',
        values: 5
    ),
    margin-top: (
        alias: 'mt',
        values: 5
    ),
    padding: (
        alias: 'p',
        values: 5
    ),
    padding-bottom: (
        alias: 'pb',
        values: 5
    ),
    padding-left: (
        alias: 'pl',
        values: 5
    ),
    padding-right: (
        alias: 'pr',
        values: 5
    ),
    padding-top: (
        alias: 'pt',
        values: 5
    ),
    text-align: (
        alias: 'algn',
        values: (center, end, inherit, initial, justify, justify-all, left, right,
        start, unset)
    ),
    vertical-align: (
        alias: 'v-algn',
        values: (baseline, bottom, inherit, initial, middle, sub, super, text-top,
        text-bottom, top, unset)
    )
);

@each $property, $values in $utils {
    $alias: map-get($values, alias);
    $values: map-get($values, values);

    @if type-of($values) == number {
        @for $i from 0 through $values {
            .#{$alias}-#{$i} {
                #{$property}: variables.$spacing * $i;
            }
        }
    } @else {
        @each $v in $values {
            .#{$alias}-#{$v} {
                #{$property}: $v;
            }
        }
    }
}