$breakpoints: (
    all: (
        alias: null,
        min: 0
    ),
    small: (
        alias: 's',
        min: 480px
    ),
    medium: (
        alias: 'm',
        min: 768px
    ),
    large: (
        alias: 'l',
        min: 1024px
    ),
    very-large: (
        alias: 'vl',
        min: 1200px
    )
);
$color: #73E8E4;
$columns: 12;
$spacing: 0.5em;
$borderRadius: 0.25em;